fastapi
uvicorn[standard]
nba_api
pandas
py_eureka_client
asyncio
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-zipkin
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests