server:
  port: 8082

spring:
  application:
    name: security-service
  datasource:
    url: jdbc:postgresql://localhost:5432/bball-security
    driver-class-name: org.postgresql.Driver
    username: ashwi
    password: 
  jpa: 
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties: 
      hibernate: 
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: false
