server:
  port: 8082

spring:
  application:
    name: security-service
  datasource:
    url: jdbc:postgresql://localhost:5432/bball-security
    driver-class-name: org.postgresql.Driver
    username: user
    password: password
  jpa: 
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties: 
      hibernate: 
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: false

grpc:
  server:
    port: 9090

management:
  tracing:
    sampling:
      probability: 1.0 # Log 100% of requests for development
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"
  endpoints:
    web:
      exposure:
        include: health, info, prometheus # Enable the /prometheus endpoint
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true