server:
  port: 8082

spring:
  application:
    name: security-service
  data:
    redis:
      host: redis
      port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5432/bball-security
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa: 
    hibernate:
      ddl-auto: update
    show-sql: true
    properties: 
      hibernate: 
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/ # Better default for Docker
  instance:
    prefer-ip-address: true      # IMPORTANT: Use IP so Gateway can find it

grpc:
  server:
    port: 9090

management:
  tracing:
    sampling:
      probability: 1.0 # Log 100% of requests for development
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"
  endpoints:
    web:
      exposure:
        include: health, info, prometheus # Enable the /prometheus endpoint
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true