server:
  port: 8081

spring:
  application:
    name: stats-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://db-stats:5432/stats_db}
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
  cache:
    type: redis
    redis:
      time-to-live: 3600000 # 1 hour in milliseconds
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: ${HOSTNAME:stats-service}

# NBA API Configuration
nba:
  api:
    base-url: ${NBA_API_BASE_URL:http://nba-fetcher:5001}

grpc:
  client:
    security-service:
      address: static://${SECURITY_SERVICE_HOST:security-service}:${SECURITY_SERVICE_PORT:9090}
      negotiationType: PLAINTEXT
      enableKeepAlive: true
      keepAliveWithoutCalls: true

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
