server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: localhost
  client:
    # This server is the registry, so it shouldn't register itself
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    # Disable self-preservation mode in development
    enable-self-preservation: false
    # Response cache update interval (in ms)
    response-cache-update-interval-ms: 1000

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO

